@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Regular.ttf") format("truetype");
}

body {
  background: #fffcfc;
  font: 18px/1 "Roboto", sans-serif;
}

.app {
  &__title {
    margin: 30px 0 15px;
  }

  &__wrapper {
    max-width: 600px;
    margin: 0 auto;
  }

  &__info {
    margin: 0 0 30px;
    font-size: 16px;
    line-height: 1.65em;
    color: #606578;
  }
}
